

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;   
}
.container{
    width: 100%;
    min-height: 100vh;  
    display: flex;
    padding: 5%;
    background-image: url("./images/background2.png"),linear-gradient(rgba(0, 8, 51, 0.9),rgba(0,8, 51, 0.9));
    background-position: center ;
    background-size: cover;
display: flex;
justify-content:right;


}
.search-bar
{
  width: 30%;
  height: 20%;
  max-width: 700px;
  background: rgba(151, 145, 145, 0.9);
  display: flex;
  align-items:center;
  border-radius: 180px;
  padding: 10px 10px;
backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
background: transparent;
flex:1;
border: 0;
outline: none;
padding: 20px 14px;
font-size: 20px;
color:rgb(255, 255, 255);
}
::placeholder{
    color:rgb(255, 244, 244);
}
.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color:rgb(70, 67, 67);
    cursor: pointer;
}